.bill__table__css {
  width: 70%;
  font-size: 14px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 8px;
  //padding: 1rem;

  .bill__info {
    border-radius: 8px;
    padding: 1rem;
  }

  .bill__info__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .bill__info__item_title {
      //font-weight: bold;
      color: #4e4edd;
    }

    .bill__info__item__description {
      color: #555;
      //font-size: 14px;
    }
  }


  ul {
    width: 100%;
    display: flex ;
    li{
      display: flex;
      flex-wrap: wrap;
      //width: 19%;
      height: 45px;
      &:nth-child(1){width: 5%; text-align: center; display: flex;padding: 3px; align-items: center; }
      &:nth-child(2){width: 35%}
      &:nth-child(3){width: 10%}
      &:nth-child(4){width: 15%}
      &:nth-child(5){width: 20%}
      &:nth-child(6){width: 20%}
    }
  }
}

// Mobile-specific styles
@media (max-width: 768px) {
  .bill__table__css {
    max-width: 100%;
    font-size: 8px;

    padding: 0.5rem;
  }

  .bill__info {
    padding: 0.5rem;
  }

  .bill__info__item {
    padding: 0.25rem;
    .bill__info__item_title {
      //font-size: 14px;
    }
    .bill__info__item__description {
      //font-size: 12px;
    }
  }
}
.verifiedBill{
  border-top: 3px solid #b2f5d6;
  background-color: #eafbf5;
}
.unVerifiedBill {
  border-top: 3px solid #f5b2b4;
  background-color: #fbeaeb;
}