.telegram__bg__style {

  background-image: url("../../../../assets/Svg/telegramPattern.svg");
  background-attachment: fixed;
  background-size: contain; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */

  .telegram__color__bg {
    background: rgba(76, 217, 100, 0.83);
  }

}



