.register__page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  //background-color: #f0f4f8;

  section {
    width: 100%;
    max-width: 450px;
    min-height: 450px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 1rem;
  }

  input,
  input[type="text"],
  input[type="password"],
  button,
  textarea {
    font-size: 18px;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    transition: border-color 0.3s ease;
  }

  input:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    outline: none;
    border-color: #0066cc;
  }



  label {
    font-size: 16px;
    color: #000;
    margin-bottom: 0.5rem;
  }

  button {
    padding: 0.75rem;
    background-color: #0073e6;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #005bb5;
  }

  li {
    list-style-type: none;
  }

  .instructions {
    font-size: 14px;
    border-radius: 0.5rem;
    background: #000000;
    color: #000;
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
  }

  .instructions > svg {
    margin-right: 0.5rem;
  }

  .offscreen {
    display: none;
    position: absolute;
    left: -9999px;
  }

  .hide {
    display: none;
  }

  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }

  .invalid {
    color: red;
    margin-left: 0.25rem;
  }

  .myErrorMessageClass {
    background-color: #ffccd5;
    color: #b22222;
    font-weight: bold;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  .line {
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }

  .line a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .line a:hover {
    color: #ffd700;
  }

  .flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .persistCheck {
    font-size: 14px;
    //margin-top: 10px;
    //display: flex;
    //justify-content: flex-start;
    //align-items: flex-end;
  }

  .persistCheck label {
    color: #000;
    margin-right:5px ;
  }

  [type="checkbox"] {
    height: 15px;
    width: 15px;
    //margin: 0 5px 2px 2px;
  }


}
