.div__group__input_select {
  //all: unset !important;
  position: relative;
  margin-top: 18px;
  width: 220px;


  > label:not(.customFileLabel) {
    //all: unset;
    position: absolute;
    right: 7px;
    top: -12px;
    padding: 0 5px;
    background: #ffffff;
    font-size: 12px;
    //z-index: 1;
    width: max-content;
  }

  > select {
    font-size: 12px;

    background-size: 28px 28px;
    position: relative;
    left: 5px;

    display: block;
    width: 100%;
    box-sizing: border-box;

    //padding: 0.375rem 1.25rem 0.375rem 0.75rem;

    padding: 5px 15px;


    //-moz-padding-start: calc(0.75rem - 3px);
    //font-weight: 400;
    //line-height: 1.5;
    //color: #212529;
    //background-color: #fff;
    //background-image: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e);
    //background-repeat: no-repeat;
    background-position: left 5px center !important;
    //background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;

    //transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
    //font-size: 12px;

  }

  > input, > textarea, > .rlookup__like_select__option, > button, > select , .same__input {
    font-size: 12px;
    width: 100%;
    border-radius: 5px;

    border: 1px solid #B9B9B9;
    padding: 10px;

    background-position: left 5px center !important;
  }

  > input[type='color'] {
    padding: 0;
    background: #FFFFFF;
    height: 42px;
  }

  > button:focus,
  > input:focus,
  > textarea:focus,
  > select:focus {
    //border: 2px solid #060698 !important;
  }

  .error {
    position: absolute;
    color: red;
    //font-size: 10px;
  }

  .rmdp-container {
    width: 100%;

    input {
      //background: #0a53be;
      border-radius: 5px;

      border: 1px solid #B9B9B9;
      font-size: 12px;
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 15px !important;

    }


  }

  .form-select:focus {
    //all: unset;
    border-color: unset;
    box-shadow: unset;
  }

  .form-control:focus {
    //all: unset;
    border-color: unset;
    box-shadow: unset;
  }

  //button[type=submit] {
  //  background: #8b8be7;
  //}
  > .checkbox__formik {
    padding: 5px;
    box-shadow: inset 0 0 4px 0 black;
    display: flex;

    label {
      margin-right: 15px;
      width: 100%;
    }
  }


}
