.ticket__show__in__modal__table {

  display: table;
  width: 100%;
  max-height: 30vh;
  overflow-y: scroll;


  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.ticket__show__in__modal__table ul {
  display: table-row;
  width: 100%;
  &:nth-child(2n){   background: #80808026 }
  //&:nth-child(2n+1){ background: rgba(128, 128, 128, 0)}
}

.ticket__show__in__modal__table li {
  display: table-cell;
  text-align: center;
  //border-bottom: 1px solid #ddd; /* Remove or adjust as desired */
}

//.ticket__show__in__modal__table li:nth-child(2n) {
//  text-align: left;
//}
//
//.ticket__show__in__modal__table li:nth-child(2n+1) {
//  text-align: right;
//}

.ticket__show__in__modal__table .flex {
  display: flex; /* Use flexbox for horizontal alignment */
}

.ticket__show__in__modal__table .flex li {
  // Adjust width or flex-grow for even distribution
  flex-grow: 1; /* Distribute remaining space equally */
}

